In [17]:
import numpy as np
import pandas as pd

In [18]:
pypoll="pypoll.csv"
ppf = pd.read_csv(pypoll)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [19]:
total_votes=len(ppf["Voter ID"])

3521001

In [20]:
can_list=ppf["Candidate"].unique().tolist()

['Khan', 'Correy', 'Li', "O'Tooley"]

In [21]:
canct=ppf["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [38]:
Khan=canct["Khan"]
Correy=canct["Correy"]
Li=canct["Li"]
OTooley=canct["O'Tooley"]

In [43]:
all_votes_count={
    "Khan": canct["Khan"],
    "Correy": canct["Correy"],
    "Li": canct["Li"],
    "Otooley": canct["O'Tooley"]
}

In [40]:
khanpct='{:.1%}'.format(khan/total_votes)
correypct='{:.1%}'.format(correy/total_votes)
lipct='{:.1%}'.format(li/total_votes)
otooleypct='{:.1%}'.format(otooley/total_votes)

In [45]:
winner=max(all_votes_count, key=all_votes_count.get)

In [46]:
print("Election Results")
print("--------------------------")
print("Total Votes: " + str(total_votes))
print("--------------------------")
print("Khan: " + str(khanpct) + " " + str(khan))
print("Correy: " + str(correypct) + " " + str(correy))
print("Li: " + str(lipct) + " " +str(li))
print("O'Tooley: " + str(otooleypct) + " " +str(otooley))
print("--------------------------")
print("Winner: " + str(winner))

Election Results
--------------------------
Total Votes: 3521001
--------------------------
Khan: 63.0% 2218231
Correy: 20.0% 704200
Li: 14.0% 492940
O'Tooley: 3.0% 105630
--------------------------
Winner: Khan